.git
.github
.cache
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.pyd

.env
.env.*
!conf/.env.example
.venv
venv
env
ENV

mugen.toml
mugen.*.toml
hypercorn.toml

_dev
.tmp
htmlcov
.coverage
.coverage.*
coverage.xml
cover

node_modules
dist
build

.DS_Store
.idea
.vscode
