[mugen]
#
assistant.persona = ""
#
beta.active = true
#
beta.message = ""
#
debug_conversation = false
#
environment = "development"
#
logger.level = 10
#
logger.name = "COM.VORSOCOMPUTING.MUGEN"
#
platforms = [
    "telnet,
    #"matrix",
    #"whatsapp",
]
#
storage.keyval.dbm.path = "/absolute/path/to/data/storage.db"
#
[mugen.modules.core]
#
client.telnet = "mugen.core.client.telnet"
#
client.matrix = "mugen.core.client.matrix"
#
client.whatsapp = "mugen.core.client.whatsapp"
#
gateway.completion = "mugen.core.gateway.completion.bedrock"
#
gateway.knowledge = "mugen.core.gateway.knowledge.qdrant"
#
gateway.logging = "mugen.core.gateway.logging.standard"
#
gateway.storage.keyval = "mugen.core.gateway.storage.keyval.dbm"
#
service.ipc = "mugen.core.service.ipc"
#
service.messaging = "mugen.core.service.messaging"
#
service.nlp = "mugen.core.service.nlp"
#
service.user = "mugen.core.service.user"
#
#
# Core Plugins
#
# Context.
# [[mugen.modules.core.plugins]]
# type = "ctx"
# path = "mugen.plugin.context.persona.ctx_ext"
#
# Commands.
# [[mugen.modules.core.plugins]]
# type = "cp"
# path = "mugen.plugin.command.clear_history.cp_ext"
#
# Message Handler.
# [[mugen.modules.core.plugins]]
# type = "mh"
# path = "mugen.plugin.message_handler.text.mh_ext"
#
# WACAPI.
# [[mugen.modules.core.plugins]]
# type = "ipc"
# path = "mugen.plugin.whatsapp.wacapi.ipc_ext"
#
# Extensions
[[mugen.modules.extensions]]
# type = ""
# path = ""
#
#===MATRIX===
[matrix]
#
assistant.name = ""
#
beta.users = []
#
client.device = "vorsocom-mugen"
#
client.password = ""
#
client.user = ""
#
domain = ""
#
domains.allowed = []
#
domains.denied = []
#
homeserver = ""
#
storage.olm.path = "/absolute/path/to/data/.olmstore"
#
#===TELNET===
[telnet]
#
socket.host = "localhost"
#
socket.port = 8888
#
#===WHATSAPP===
[whatsapp]
#
app.id = ""
#
app.secret = ""
#
beta.users = []
#
business.phone_number_id = ""
#
graphapi.access_token = ""
#
graphapi.base_url = ""
#
graphapi.version = ""
#
servers.allowed = ""
#
servers.verify_ip = false
#
webhook.verification_token = ""
#===AWS BEDROCK===
[aws.bedrock]
#
api.access_key_id = ""
#
api.classification.model = ""
#
api.classification.max_tokens = 1024
#
api.classification.temp = 0.0
#
api.classification.top_p = 0.9
#
api.completion.model = ""
#
api.completion.max_tokens = 1024
#
api.completion.temp = 0.0
#
api.completion.top_p = 0.9
#
api.region = ""
#
api.secret_access_key = ""
#===GROQ===
[groq]
#
api.classification.model = ""
#
api.classification.temp = 0.0
#
api.completion.model = ""
#
api.completion.temp = 0.0
#
api.key = ""
#===SAMBANOVA===
[sambanova]
#
api.classification.model = ""
#
api.classification.temp = 0.0
#
api.completion.model = ""
#
api.completion.temp = 0.0
#
api.endpoint = ""
#
api.key = ""
#===QDRANT===
[qdrant]
#
api.key = ""
#
api.url = ""
#===TRANSFORMERS===
[transformers]
#
hf.home = ""